@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile {
  display: none;
}

.mobile-back {
  display: none;
}

.card {
  border-radius: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px 0;
  padding: 100px;
  width: 85%;
  box-shadow: 10px 10px 20px hsl(237, 12%, 33%);
}

.faq h1 {
  margin-bottom: 40px;
}

.question .accordion {
  cursor: pointer;
  outline: none;
  border: none;
  border-bottom: 2px solid hsl(240, 5%, 91%);
  background-color: white;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(237, 12%, 33%);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

.question .accordion:hover {
  color: hsl(14, 88%, 65%);
}

.question .panel {
  color: hsl(240, 6%, 50%);
  font-size: 14px;
  display: none;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.5s ease-in;
}

.accordion.active {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
  border: none;
}

.accordion.active svg {
  transform: rotate(180deg);
} 

.images .photo {
  position: absolute;
  transform: translate(-190px, 0px);
  z-index: 2;
  clip-path: inset(0 0 0 90px);
}

.images .back {
  position: absolute;
  clip-path: inset(270px 0 0 600px);
  transform: translate(-700px, -370px);
}

.images .box {
  position: absolute;
  z-index: 11;
  transform: translate(-210px, 140px);
}

@media(max-width: 980px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 300px;
    padding: 50px;
  }

  .images .photo {
    display: none;
  }
  
  .images .back {
    display: none;
  }
  
  .images .box {
    display: none;
  }

  .mobile {
    position: absolute;
    width: 500px;
    transform: translate(50px, -330px);
    display: block;
    z-index: 1;
  }
  
  .mobile-back {
    width: 500px;
    transform: translate(50px, -130px);
    position: absolute;
    display: block;
  }

  .faq h1 {
    text-align: center;
    margin-top: 100px;
  }

  .question .accordion {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .question .panel {
    color: hsl(240, 6%, 50%);
    font-size: 12px;
  }
}


@media (max-width: 480px) {
  .mobile {
    position: absolute;
    width: 300px;
    transform: translate(-20px, -190px);
    display: block;
    z-index: 1;
  }
  
  .mobile-back {
    width: 300px;
    transform: translate(-20px, -70px);
    position: absolute;
    display: block;
  }
}